<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link href="//getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="dashboard.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0">
    <a class=" col-sm-3 col-md-2 mr-0" href="#"><img
        src="////v1.vodafone.it/portal/resources/media/Images/TOBi/Landing/opt/tobi.png" height="80px" /></a>
    <h2 style="color:#e62308;padding-right: 220px;">Dashboard</h2>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>
  <center>
    <main role="main" class="pt-3" style="width:80vw;align-items: center;alignment: center;">



      <h2>Frasi non riconosciute</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Frase</th>
              <th>Topics</th>
            </tr>
          </thead>
          <tbody id="tabella">
          </tbody>
        </table>
      </div>
      <br><br>
      <h2>Topic suggeriti</h2>

      <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
    </main>
    </div>
    </div>
  </center>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="//getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
  <script src="//getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>

  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    function createGraph() {
      var values = [];
      for(var i of all_labels){
        values.push(labels_counter[i]);
      }

      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: all_labels,
          datasets: [{
            data: values,
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    }

    data = [];
    all_labels = [];
    labels_counter = {};

    $(document).ready(function () {
      prendifrasi();
    });

    function getFrasi() {
      $.get("/dashboard", { tipo: "1" }, function (json) {
        data = JSON.parse(json);
      });
    }

    function prendifrasi() {
      jQuery.ajaxSetup({ async: false });
      getFrasi();
      for (var i = 0; i < data.length; i++) {
        getData(data[i], i + 1);
      }
      createGraph();
      jQuery.ajaxSetup({ async: true });
    }

    function getData(text, i) {
      $.get("/dashboard", { text: text }, function (json) {
        json = JSON.parse(json)[0];
        
        if ($.inArray(json[0], all_labels) == -1){
          all_labels.push(json[0]);
          labels_counter[json[0]] = 1;
        }
        else{
          labels_counter[json[0]]++;
        }
        if ($.inArray(json[1], all_labels) == -1){
          all_labels.push(json[1]);
          labels_counter[json[1]] = 1;
        }
        else{
          labels_counter[json[1]]++;
        }

        $('#tabella').append(`<tr>
            <td>${i}</td>
            <td>${text}</td>
            <td>${json.join(", ")}</td>
          </tr>`);
      });
    }
  </script>
</body>

</html>